<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secondary Text</title>
    <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>
</head>
<body>
        <form action="/process" class="bg-dark text-warning text-center p-5 rounded" method="post">
            <div class="mb-3 mt-3">
                <input type="text" name="guess" class="form-control" id="guess" placeholder="Take a Guess!!!" name="guess">
            </div>
            <button type="submit" class="btn btn-warning">Guess</button>
        </form>
        
</body>        
</body>
</html>
