<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/purchase_render" method="POST">
            <td>Dog House</td>
            <td><input type="hidden" name="price" value="500">$500</td>
            <td><select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select></td>
            <td><input type="submit" value="Buy!"></td>
        </form>
    </div>
</body>
</html>